#newPhotoBar,
#newPhotoReturnBar {
	width:1000px;
	margin:0 auto;
	text-align:center;
	color:#D95C5C;
	/* padding:8px 0; */
}

#neweventwrap {
	background-color:#C4C2C4;
	margin-bottom: 10px;
	border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;
	display:none;
	width:1000px;
	margin:0 auto;
	margin-bottom:20px;
}


#eventsegment {
	margin:0 auto;
	width: 1018px;
	margin-top:16px;
}

#eventsegment .eventpile {
	padding-bottom:15px;
}

#eventsegment .eventpile .item .image .imgbtnArea {
	position:absolute;
	left:15px;
	top:15px;
	z-index:9;
	display:none;
}

#eventsegment .eventpile .item .image .imgbtnArea .likebtn .heart.icon{
	margin:0px;
}

#eventsegment .eventpile .item .ui.header{
	margin:15px 10px;
}

#eventsegment .eventpile .item .btnArea{
	display:inline-block;
	padding:12px 13px 12px 15px;
}
#eventsegment .eventpile .item .btnArea .button{
	padding-right: 24px; padding-left: 24px;
}

#eventsegment .eventpile .item {
	padding: 0px;
	cursor:auto; /*change cursor to default  */
 	margin-bottom: 20px;
	min-height: 150px; 
}

#eventsegment .eventpile .item .image img {
	border-top-left-radius: 0.33em;
	border-top-right-radius: 0.33em;
	cursor:zoom-in;
}

#eventsegment .eventpile .item .content .description{
	padding: 0 10px;
	margin-bottom: 20px;
}
#eventsegment .eventpile .item .content .meta a{
	font-size: 13px;
	font-style: italic;
}

#eventsegment .eventpile .item .ui.minimal.comments {
	padding: 0px 10px 10px;
}

#eventsegment .eventpile .item .ui.minimal.comments .ui.reply.form .field textarea {
	height: 60px; 
	min-height:10px;
	resize: none;
}

#eventsegment .eventpile .item .ui.minimal.comments .ui.reply.form {
	padding-left: 70px; width: 229px;
}

.itemloadBtn {
	 margin:0 auto;
	width:1018px;
}