#menubar {
	width:1000px;
	margin:0 auto;
	padding-bottom: 0px;
}

#menubar .ui.four.column.grid .column {
	padding-left: 1px;
	padding-right: 1px;
}

#menubar .ui.dropdown.fluid.item .ui.small.label {
	float: right;
}

#menubar .ui.dropdown.fluid.item .ui.list.menu .item .right.floated {
	padding-top:5px;
	width:60px;
	margin:0;
	display:none;
}

#menubar .ui.dropdown.fluid.item .ui.list.menu .item .content {
	padding-top: 7px;
	font-size:16px;
	width:120px;
}