#topbar {
	-webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
}

#topbar .title{
	position:absolute; left:50%; width:140px; margin-left:-70px;  
	padding-top: 6px; padding-bottom: 7px;
	display: inline-block;
	cursor:pointer;
}

#topbar .item {
	padding:8px 20px;
}

#topbar .empty.item {
	padding:18px 20px;
}
#topbar .item .icon {
	margin-right: 0px;
}

#topbar .right.menu .item {
	padding: 8px 10px;
}

#topbar .right.menu .item .off.icon {
	margin: 0px;
}

#topbar .item .description {
	font-size: 12px;
}